<ion-view title="Sign Up" hide-nav-bar="true" id="page5">
  <ion-content padding="true" style="background: url(img/kmbrXDp2TtWpcRHZAURe_869506new.jpg) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
    <h1 id="signUp-heading3" style="color:#FFFFFF;text-align:center;" class="Audiowide">AVR</h1>
    <div class="spacer" style="height: 100px;"></div>
    <form id="signUp-form2" class="list">
      <ion-list id="signUp-list3">
        <label class="item item-input Oswald" id="signUp-input3">
          <span class="input-label">Name</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input Oswald" id="signUp-input4">
          <span class="input-label">Username</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input Oswald" id="signUp-input5">
          <span class="input-label">Password</span>
          <input type="text" placeholder="">
        </label>
      </ion-list>
      <button id="signUp-button3" class="button button-stable  button-block Oswald">Sign up</button>
    </form>
  </ion-content>
</ion-view>